.page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

  .profile {
    width: 500px;
    height: 100vh;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;

    .feedImg {
      width: 100%;
      height: 600px;
      object-fit: cover;
      display: inline-flex;
    }
    .id {
      height: 50px;
      display: flex;
      align-items: center;

      .fa-circle {
        font-size: 30px;
        margin-left: 15px;
      }
      .userid {
        font-size: 20px;
        margin-left: 5px;
      }
      .dots {
        margin-left: 330px;
        font-size: 30px;
      }
    }
    .icons {
      position: relative;
      display: block;
      height: 40px;

      .lefticon {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 20px;

        .fa-comment-dots {
          margin-left: 5px;
        }

        .fa-share {
          margin-left: 5px;
        }
      }
      .righticon {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
      }
    }
    .likes {
      margin-top: 10px;
      height: 40px;
      position: relative;

      .fa-face-grin-squint {
        position: absolute;
        left: 20px;
        font-size: 20px;
      }

      .howmanylikes {
        position: absolute;
        left: 50px;
        font-size: 20px;
      }
    }
    .commentbox1 {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin: 0;
      padding: 0;
      height: 15px;

      .commentId {
        font-weight: bold;
        list-style: none;
      }
      .commentText {
        padding-left: 10px;
        display: flex;
      }
      .seemore {
        padding-left: 140px;
        color: lightgray;
        font-size: 13px;
      }
      .userCommentList {
        margin: 0;
      }
    }
    .userCommentList {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      margin-left: 65px;

      .commentUserId {
        font-weight: bold;
        margin-right: 10px;
      }
    }

    .addcomment {
      position: relative;
      height: 50px;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      justify-content: center;
      align-items: stretch;
      margin-top: 50px;
      padding: 0;

      .toaddcomment {
        width: 100%;
        height: 100%;
        text-align: left;
        border: none;
        border-top: 1px solid lightgray;
      }

      .add {
        font-size: 13px;
        color: lightblue;
        opacity: 0.8;
        border: none;
        background-color: white;
        margin: 0 auto;
        position: absolute;
        right: 5px;
        top: 15px;
      }
    }
  }
}
