body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

input {
  border: 2px solid #eaeaea;
  background-color: #fafafa;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
}

.navBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;

  .navBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 975px;
    height: 60px;
    background-color: white;
    padding: 12px 0;
    margin: auto;
  }

  .navBar-left,
  .navBar-center,
  .navBar-right {
    position: relative;
    display: flex;
    align-items: center;
    width: 33%;
  }

  .navBar-left {
    justify-content: flex-start;
  }

  .navBar-center {
    justify-content: center;
  }

  .navBar-right {
    justify-content: flex-end;
  }

  .navBar-logo {
    font-size: 24px;
    margin-right: 12px;
    background-color: transparent;
    border: 0;
  }

  .navBar-verticalBar {
    width: 1px;
    height: 24px;
    border-left: 1px solid black;
    margin-right: 12px;
  }

  .navBar-title {
    font-size: 24px;
    font-family: 'Lobster', cursive;
  }

  .navBar-search {
    width: 100%;
    padding: 5px 10px;

    &::placeholder {
      text-align: center;
      color: #00000080;
    }
  }

  .navBar-searchedUsersList {
    position: absolute;
    top: 27px;
    width: 100%;
    padding: 8px 12px;
    border: 2px solid #eaeaea;
    background-color: white;
    visibility: hidden;
    z-index: 1;

    &.active {
      visibility: visible;
    }
  }

  .navBar-searchedUsers {
    margin-top: 6px;
  }

  .navBar-right {
    img {
      width: 24px;
      height: 24px;
      margin-left: 12px;
    }
  }
}
